<!DOCTYPE html>
<html>
		<!-- Latest compiled and minified CSS -->
		<script src="/socket.io/socket.io.js"></script>
		<script>
			//var socket = io();
			var socket = io('');
			
		</script>
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
		<script>
	      // 2. This code loads the IFrame Player API code asynchronously.
	      var tag = document.createElement('script');
	      tag.src = "https://www.youtube.com/iframe_api";
	      var firstScriptTag = document.getElementsByTagName('script')[0];
	      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	      // 3. This function creates an <iframe> (and YouTube player)
	      //    after the API code downloads.
	      var player;
	      var listindex=0;
	      function onYouTubeIframeAPIReady() {
	        player = new YT.Player('player', {
	          height: '390',
	          width: '640',
	          videoId: 'M7lc1UVf-VE',
	          events: {
	            'onReady': onPlayerReady,
	            'onStateChange': onPlayerStateChange
	          }
	        });

	      }

	      // 4. The API will call this function when the video player is ready.
	      function onPlayerReady(event) {
	         event.target.playVideo();
			 // setTimeout( function(){ addlist("L1Cn6mDuqgc");
			 // 	setTimeout(function(){ 
			 // 		//addlist("F2Hb2tiJkvY");
			 // 	}, 1000);


			 // } , 1000);
	
	      }


	      // 5. The API calls this function when the player's state changes.
	      //    The function indicates that when playing a video (state=1),
	      //    the player should play for six seconds and then stop.
	      var done = false;
	      function onPlayerStateChange(event) {
	        if (event.data == YT.PlayerState.PLAYING && !done) {
	          setTimeout(stopVideo, 6000);
	          done = true;
	        }
	        if (event.data == YT.PlayerState.CUED ) {
	          alert(player.getPlaylist());
	        }
	      }
	      function onPlayerStateChange(event) {
	        switch(event.data) {
	          case 1:
	          	var url = event.target.getVideoUrl();
	          	var match = url.match(/[?&]v=([^&]+)/);
        		// ["?v=gzDS-Kfd5XQ", "gzDS-Kfd5XQ"]
        		var videoId = match[1];
	            document.getElementById("addlist")
	        }
	      }
	      function previous(){
	      	player.previousVideo();
	      }
	      function next(){
	     	 player.nextVideo();
	      }
	      function rewind(){
		      player.seekTo(player.getCurrentTime()-2, true);
		  }
		  function fastforward (){
		  	player.seekTo(player.getCurrentTime()+2, true);
		  }
	      function playVideo() {
	        player.playVideo();
	      }
	      function pauseVideo() {
	        player.pauseVideo();
	      }
	      function stopVideo() {
	        player.stopVideo();
	      }
	      function mute(){
	      	player.mute();
	      }
	      function unmute(){
	      	player.unMute();
	      }
	      function addlist(url){
	      	var list=player.getPlaylist();
	      	if (list==null){
	      		list=[url];
	      	}else{
				list.push(url);
			}
			
	      	player.cuePlaylist(list, 0, 0,  "large");
	      	//player.cueVideoById(url, 0, "large");
	      	//add  and run?
	      	//alert(player.getVideoData().title);
	      	var para = document.createElement("li");
	      	var node = document.createTextNode("["+url+"]");
			para.appendChild(node);
	      	var element = document.getElementById("listul");
			element.appendChild(para);
		//	alert(player.getPlaylist[1]);

	      	
	      }
	    </script>
		<script type="text/javascript">
		var listindex=0;
		document.onreadystatechange = function () {
		    if (document.readyState == "complete") {


		     	
			    document.getElementById("stop").addEventListener("click", function(){
			    	stopVideo();
				});
				document.getElementById("play").addEventListener("click", function(){
			    	playVideo();
				});
				document.getElementById("pause").addEventListener("click", function(){
			    	pauseVideo();
				});
				document.getElementById("mute").addEventListener("click", function(){
			    	mute();
				});
				 document.getElementById("unmute").addEventListener("click", function(){
			    	unmute();
				});
				document.getElementById("previous").addEventListener("click", function(){
			    	previous();
				});
				document.getElementById("next").addEventListener("click", function(){
			    	next();
				});
				document.getElementById("rewind").addEventListener("click", function(){
			    	rewind();
				});
				 document.getElementById("fastforward").addEventListener("click", function(){
			    	fastforward();
				});
				document.getElementById("fastforward").addEventListener("click", function(){
			    	fastforward();
				});
				document.getElementById("addlist").addEventListener("click", function(){
			    	//alert();

			    //	player.cueVideoById(.value, 0, "large");

			    	addlist(document.getElementById("urllink").value);
			    	document.getElementById("urllink").value="";
			    	
				});

				var form = document.querySelector( '#form' );
				var m = document.querySelector( '#m' );
				form.addEventListener( 'submit', function( e ) {
					e.preventDefault();
					socket.emit( 'command', m.value );
					m.value = '';
				} );
				var messages = document.querySelector( '#messages' );
				socket.on( 'command', function( data ) {
					var li = document.createElement( 'li' );
					li.innerHTML = data;
					messages.appendChild( li );
				} );
				  
			}

		}
	    </script>
		
    </head>
    <style type="text/css">


		

    </style>
	<body >
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <section id="main" class="main ee tall" style="height:3000px;">
    	<form id="form">
    		<input id="m" type="text"></input>
    		<input  type="submit"></input>
    		<ul id="messages"></ul>
    	</form>
    <header>
    	<div id="qrcode" class="rt  panel" style="padding:0px;">
   			<img src="https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=http%3A%2F%2Fwww.cse.cuhk.edu.hk%2F" style="height:80px;"/>
   		</div>
    	<h1 id="title" style="color:#ddd;font-size:50px">CSCI 4140 :Assignment 2</h1>
    	<h2 id="Desktop" class="desktop-only">You Tube Remote (Desktop)</h2>
    	<h2 id="Tablet"  class="tablet-only">You Tube Remote (Tablet)</h2>
    	<h2 id="Moblie"  class="mobile-only">You Tube Remote (Moblie)</h2>

    </header>
   		<div id="player-panel" class="third-i lt panel" style="height: 500px;">
   			<h1 class="aa ">YouTube Player</h1>
   			<div id="player" class="center"></div>
   		</div>
   		<div id="player-remote-controller" class="rt third panel" style="">

   			<h1 class="bb ">Remote controller</h1>
   			<div class="forth-i center" style="height:300px;">
  
   		
   			<button id="play" class="third btn lt" style="height:80px;background-color: green;">
   				<i class="fa fa-play center"></i>
   				<p class="label_t">PLAY</p>
   			</button> 
   			<button id="pause" class="third btn lt" style="height:80px;background-color: red; width:34%">
   				<i class="fa fa-pause center"></i>
   			</button>
   			<button id="stop" class="third btn lt" style="height:80px;background-color: #FFA500;">
   				<i class="fa fa-stop center"></i>
   			</button>
   			<br/>
   				<br/>
   			<button id="previous" class="forth btn lt" style="height:80px;background-color: #756EBD;">
   				<i class="fa fa-fast-backward center"></i>
   			</button>
   			<button id="rewind" class="forth btn lt" style="height:80px;background-color: #756EBD;">
   				<i class="fa fa-backward center"></i>
   			</button>
   			
   			<button id="fastforward" class="forth btn lt" style="height:80px;background-color: #80A5C8;">
   				<i class="fa fa-forward center"></i>
   			</button>
   			<button id="next" class="forth btn lt" style="height:80px;background-color: #80A5C8;">
   				<i class="fa fa-fast-forward center"></i>
   			</button>
   			<br/>
   			<br/>
   			<button id="mute" class="half btn lt" style="height:80px;">
   				<i class="fa fa-bell-slash center"></i>
   			</button>
   			<button id="unmute" class="half btn lt" style="height:80px;">
   				<i class="fa fa-bell center"></i>
   			</button>

   			</div>
   			<hr/>
   		</div>
   		<div id="playlistpanel" class="rt third panel" style="">
   			<h1 class="cc">Play List</h1>
   			<div id="playlist" class="panel " style="margin:30px;">
   				<ul id="listul">

   				</ul>
   			</div>
   			<input id="urllink" class="third-i center lt" style="font-size:30px;border-top: 0;  border-left: 0;  border-right: 0;" placeholder="Enter Vedio ID"></input>
   			<button id="addlist" class="forth btn rt" style="height:35px;background:#FFA500;">
   				<i class="fa fa-plus center"></i>
   				
   			</button>
   		</div>
   		<br/>
   		
   	</section>
    </div>

    
  </body>
</html>
